<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Please fix the following errors:</h4>
  <ul>
    <li>Something is missing.</li>
    <li>Something else is missing.</li>
  </ul>
</div>
