<h5>Ajax Loaded Submit Form Tracking</h5>
<form
  data-aye-app-id="6"
  data-aye-context-id="1000"
  data-aye-context="Ads"
  data-aye-resource-id="20"
  data-aye-resource="GroceryNewsletter"
  data-aye-submit="add coupon from ajax submit"

  data-ajax-form
  action="http://localhost:4567/alert_success"
>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input class="form-control" data-aye-property-email="" id="email" type="email" value="art@webstop.com">
  </div>
  <button type="submit" class="btn btn-primary">Track Add Coupon Submit</button>
</form>
