<h5>Ajax Loaded View Tracking</h5>
<p data-aye-app-id="1" data-aye-context-id="123" data-aye-context="Recipe" data-aye-property-title="Awesome Title" data-aye-context-label="Recipe Label" data-aye-resource-id="456" data-aye-resource="Offer" data-aye-resource-label="offer label" data-aye-category="Recipe Tie-ins" data-aye-tags="coupon_contest,coupon_giveaway, coupon foo, coupon bar" data-aye-view="coupon from ajax view">
  View coupon tracking initiated.
</p>
