<h5>Ajax Loaded Click Tracking</h5>
<div id="ajax-target-replace">
  <button
    data-aye-app-id="1"
    data-aye-click="add coupon from ajax click"
    data-aye-context-id="123"
    data-aye-context="Recipe"
    data-aye-property-title="Awesome Title"
    data-aye-resource-id="456"
    data-aye-resource="Offer"

    data-ajax-load
    data-target="#ajax-target-replace"
    data-load="http://localhost:4567/alert_success"
    class="btn btn-primary"
  >
    Track Add Coupon Click
  </button>
</div>
