<h1>Core Styles Sinatra App</h1>

<p>This portion of the style guide is used to mock back-end interactions. Like AJAX results, search results or form submissions.</p>

<p>You're probably looking for the documentation site found here: <a href="{{ jekyll_host }}/">localhost:4000</a>.</p>
