<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Greg Hemphill & the Webstop Team">

  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Montserrat:400,700&amp;amp;subset=cyrillic" media="screen" rel="stylesheet" type="text/css">
  <link href="http://localhost:4000/assets/css/docs/core-style-guide.css" rel="stylesheet">
  <link href="http://localhost:4000/node_modules/devicons/css/devicons.css" rel="stylesheet">
  <link rel="stylesheet" media="all" href="https://s3.grocerywebsite.com/core-repos/core-icons/v0.3.1/core-icons/assets/core-icons-as-fonts.css">


</head>

<body>

<div class="container-fluid">
  <%= yield %>
</div>



</body>
</html>
