<article class="circular-item circular-item-standard-promotion col card card-standard">
  <a class="circular-item-standard-promotion-link" href="https://www.topsmarkets.com/Recipes/Detail/8288/Creamy_Corn_Filled_Sweet_Peppers/">
    <img src="/assets/images/image-items/recipe_8288_2k_square.jpg" alt="Picture of Sweet Corn Recipe Contest!" class="img-fluid circular-item-image">
    <div class="circular-item-body card-body">
      <h3 class="circular-item-title">Enter to Win The Sweet Corn Recipe Contest!</h3>
      <p class="circular-item-description">Enter before 10/11/2020! Entry form, rules, and other details in the link below.</p>
      <div class="circular-item-footer">
        <button class="circular-item-button btn btn-primary btn-block" target="_blank">
          Learn More & Enter! <i class="icon-arrow-right"></i>
        </button>
      </div>
    </div>
  </a>
</article>


