<article class="circular-item circular-item-coupon card card-standard col"  id="circular-item-1">
  <div class="circular-item-body card-body">

    <div class="media">
      <img src="/assets/images/circular-items/dove_coupon.png" alt="Picture of Offer Products" class="img-responsive circular-item-image">

      <div class="media-body">
        <h3 class="circular-item-title">Save $1.00</h3>
        <p class="circular-item-description">on any ONE (1) Dove Body Wash (22 oz. or larger) or Shower Foam (13.5 oz.) (excludes trial and travel sizes and Dove Men+Care)</p>
        <p class="circular-item-expiration-date text-muted text-right">Expires: 10/30/2020</p>
      </div>
    </div>

    <p class="circular-item-recipe">
      <span class="circular-item-recipe-label">Recipe:</span>
      <a href="http://www.topsmarkets.com/Recipes/Detail/7417/Amaize_Sweet_Corn_Summer_Spreads/" class="circular-item-recipe-title-link">
        Clean and Refreshing Soap Soup!
      </a>
    </p>

    <div class="shopping-list-item">
      <div role="region" id="ListItem0_2" class="circular-item-shopping-list-wrapper" aria-live="polite">
        <form action="http://www.topsmarkets.com/WeeklyAd/ShoppingList/Add/NoJS//?I=457079&amp;L=0_2&amp;Ad=180812&amp;D=2018-08-16&amp;Test=" method="post" onsubmit="listAdd('457079', '0_2', '180812', '2018-08-16', '', ''); return false;" class="circular-item-shopping-list-form">
          <fieldset>
            <input type="hidden" name="URL" value="WeeklyAd/Index/" id="URL0_2">
              <button type="submit" class="btn btn-primary">
                <i class="icon-plus-circle-solid"></i> Add Coupon
              </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</article>
