<article class="circular-item circular-item-thumbnail card card-standard col" id="circular-item-1">
  <div class="circular-item-body card-body">
    <div class="circluar-item-top-row ">
      <div class="circular-item-images">
        <img src="/assets/images/circular-items/sweet_corn_classic_thumbnail.jpg" alt="Picture of Homegrown Amaize! Sweet Corn" class="img-responsive circular-item-image">
        <a role="button" data-toggle="popover" tabindex="12" class="btn btn-xs btn-primary btn-block circular-item-info-trigger" data-container="body" data-placement="bottom" title="" data-content="Non-GMO Project Verified! Produced by Pitman Farms, a family owned business that has been raising poultry for 3 generations. These chickens roam in a stress-free environment that is 4x the size of the average commercial ranch, and fed a premium non-GMO vegetarian diet void of chemical stimulators. These conditions result in happier, healthier chickens for the best you have ever tasted." data-original-title="Learn More">
          Learn More
        </a>
        <img src="/assets/images/circular-items/WeeklyAd_AdFlag_251_85x50.gif" alt="" border="0" class="circular-item-flag mt-1">
      </div>
      <div class="circular-item-text-col">
        <p class="circular-item-heading">LOCAL! Amaize! Sweet Corn - The Best Corn You'll Ever Eat!</p>
        <h3 class="circular-item-title">Homegrown Amaize! Sweet Corn</h3>
        <p class="circular-item-description">White Sweet Corn with an Amazing Flavor, Distinctively Delicious Pop and Crunch</p>
      </div>
    </div>
    <div class="circular-item-bottom-row ">
      <p class="price price-big-dollars">
        <span class="price-prefix">12 for</span>
        <span class="price-dollar-sign">$</span>
        <span class="price-dollars">4</span>
        <span class="price-cents">99</span>
        <span class="price-suffix">lb.</span>
        <img src="/assets/images/Card_45x29.gif" class="price-suffix-icon" alt="with Card">
      </p>
      <p class="circular-item-details">Available for a Limited Time</p>
      <p class="circular-item-recipe">
        <span class="circular-item-recipe-label">Recipe:</span>
        <a href="http://www.topsmarkets.com/Recipes/Detail/7417/Amaize_Sweet_Corn_Summer_Spreads/" class="circular-item-recipe-title-link">
          Amaize Sweet Corn Summer Spreads
        </a>
      </p>
    </div>
  </div>
  <div class="circular-item-footer card-footer">
    {% include examples/shopping-lists/_shopping-list-add-form-mini-example.html %}
  </div>
</article>
