<article class="circular-item circular-item-standard col card card-standard">
  <img src="/assets/images/circular-items/sweet_corn_1k.jpg" alt="Picture of Homegrown Amaize! Sweet Corn" class="circular-item-image card-img-top">
  <div class="circular-item-body card-body">
    <p class="circular-item-heading">LOCAL! Amaize! Sweet Corn - The Best Corn You'll Ever Eat!</p>
    <h3 class="circular-item-title">Homegrown Amaize! Sweet Corn</h3>
    <p class="circular-item-description">White Sweet Corn with an Amazing Flavor, Distinctively Delicious Pop and Crunch</p>
    {% include examples/prices/_price-dollar-example.html %}
    <p class="circular-item-details">Available for a Limited Time</p>
    <p class="circular-item-recipe">
      <span class="circular-item-recipe-label">Recipe:</span>
      <a href="http://www.topsmarkets.com/Recipes/Detail/7417/Amaize_Sweet_Corn_Summer_Spreads/" class="circular-item-recipe-title-link">
        Amaize Sweet Corn Summer Spreads
      </a>
      <!--<a href="http://www.topsmarkets.com/Recipes/Detail/7417/Amaize_Sweet_Corn_Summer_Spreads/" class="circular-item-recipes-link btn btn-xs btn-outline-primary">-->
        <!--More Recipes-->
      <!--</a>-->
    </p>
    {% include examples/shopping-lists/_shopping-list-add-form-mini-example.html %}
  </div>
</article>
