<article class="circular-item circular-item-standard-coupon card card-standard col"  id="circular-item-1">
  <img src="/assets/images/circular-items/dove_standard_coupon.jpg" alt="Picture of Offer Products" class="circular-item-image img-fluid">
  <div class="circular-item-body card-body">
    <h3 class="circular-item-title">Save $1.00</h3>
    <p class="circular-item-description">on any ONE (1) Dove Body Wash (22 oz. or larger) or Shower Foam (13.5 oz.) (excludes trial and travel sizes and Dove Men+Care)</p>
    <p class="circular-item-expiration-date text-muted">Expires: 10/30/2020</p>

    <p class="circular-item-recipe">
      <span class="circular-item-recipe-label">Recipe:</span>
      <a href="http://www.topsmarkets.com/Recipes/Detail/7417/Amaize_Sweet_Corn_Summer_Spreads/" class="circular-item-recipe-title-link">
        Clean and Refreshing Soap Soup!
      </a>
    </p>

    {% include examples/shopping-lists/_shopping-list-add-coupon-form-mini-example.html %}

  </div>
</article>
