<div class="row">
  <article class="circular-item circular-item-standard circular-item-price-bottom card card-standard col" id="circular-item-1">
    <img src="/assets/images/circular-items/sweet_corn_1k.jpg" alt="Picture of Homegrown Amaize! Sweet Corn" class="circular-item-image card-img-top img-fluid">
    <div class="circular-item-body card-body">
      <p class="circular-item-heading">LOCAL! Amaize! Sweet Corn - The Best Corn You'll Ever Eat!</p>
      <h3 class="circular-item-title">Homegrown Amaize! Sweet Corn</h3>
      <p class="circular-item-description">White Sweet Corn with an Amazing Flavor, Distinctively Delicious Pop and Crunch</p>
      {% include examples/prices/_price-dollar-example.html %}
      <p class="circular-item-details">Available for a Limited Time</p>
      <p class="circular-item-sale-dates text-danger">Starts 4/10/2050</p>
      <p class="circular-item-recipe">
        <span class="circular-item-recipe-label">Recipe:</span>
        <a href="http://www.topsmarkets.com/Recipes/Detail/7417/Amaize_Sweet_Corn_Summer_Spreads/" class="circular-item-recipe-title-link">
          Amaize Sweet Corn Summer Spreads
        </a>
      </p>
    </div>
    <div class="circular-item-footer card-footer">
      {% include examples/shopping-lists/_shopping-list-add-form-mini-example.html %}
    </div>
  </article>

  <article class="circular-item circular-item-standard circular-item-price-bottom card card-standard col" id="circular-item-1">
    <img src="/assets/images/circular-items/sweet_corn_1k.jpg" alt="Picture of Homegrown Amaize! Sweet Corn" class="circular-item-image card-img-top img-fluid">
    <div class="circular-item-body card-body">
      <h3 class="circular-item-title">Homegrown Amaize! Sweet Corn</h3>
      {% include examples/prices/_price-dollar-example.html %}
      <p class="circular-item-details">Available for a Limited Time</p>
      <p class="circular-item-sale-dates text-danger">Starts 4/10/2050</p>
    </div>
    <div class="circular-item-footer card-footer">
      {% include examples/shopping-lists/_shopping-list-add-form-mini-example.html %}
    </div>
  </article>

  <article class="circular-item circular-item-standard circular-item-price-bottom card card-standard col" id="circular-item-1">
    <img src="https://core-graphics.grocerywebsite.com/G_WeeklyAd_CORE/circular/standard/Oil_Coconut_DrBronnersOrgnc30z_USDA_L_NCG.jpg" alt="Picture of Homegrown Amaize! Sweet Corn" class="circular-item-image card-img-top img-fluid">
    <div class="circular-item-body card-body">
      <h3 class="circular-item-title">Dr. Bronner's Organic Whole Kernel Virgin Coconut Oil</h3>
      {% include examples/prices/_price-dollar-example.html %}
      <p class="circular-item-description">30 oz.</p>
    </div>
    <div class="circular-item-footer card-footer">
      {% include examples/shopping-lists/_shopping-list-add-form-mini-example.html %}
    </div>
  </article>

  <article class="circular-item circular-item-standard circular-item-price-bottom card card-standard col" id="circular-item-1">
    <img src="https://core-graphics.grocerywebsite.com/G_WeeklyAd_CORE/circular/standard/Ketchup_AnniesOrgnc24z_USDA_L_NCG.jpg" alt="Picture of Homegrown Amaize! Sweet Corn" class="circular-item-image card-img-top img-fluid">
    <div class="circular-item-body card-body">
      <h3 class="circular-item-title">Annie's Organic Ketchup</h3>
      {% include examples/prices/_price-dollar-example.html %}
      <p class="circular-item-description">24 oz.</p>
    </div>
    <div class="circular-item-footer card-footer">
      {% include examples/shopping-lists/_shopping-list-add-form-mini-example.html %}
    </div>
  </article>

  <article class="circular-item circular-item-standard circular-item-price-bottom card card-standard col">
    <img src="https://core-graphics.grocerywebsite.com/G_WeeklyAd_CORE/circular/standard/MacNCheese_Annies5p25t6z_L_NCG.jpg" alt="Picture of Homegrown Amaize! Sweet Corn" class="circular-item-image card-img-top img-fluid">
    <div class="circular-item-body card-body">
      <h3 class="circular-item-title">Annie's Homegrown Mac & Cheese</h3>
      {% include examples/prices/_price-dollar-example.html %}
      <p class="circular-item-description">5.25-6 oz., selected varieties</p>
    </div>
    <div class="circular-item-footer card-footer">
      {% include examples/shopping-lists/_shopping-list-add-form-mini-example.html %}
    </div>
  </article>

  <article class="circular-item circular-item-standard circular-item-price-bottom card card-standard col">
    <img src="https://core-graphics.grocerywebsite.com/G_WeeklyAd_CORE/circular/standard/Tamari_SanJOrganic20z_USDA_L_NCG.jpg" alt="Picture of Homegrown Amaize! Sweet Corn" class="circular-item-image card-img-top img-fluid">
    <div class="circular-item-body card-body">
      <h3 class="circular-item-title">San-J Organic Tamari</h3>
      {% include examples/prices/_price-dollar-example.html %}
      <p class="circular-item-description">20 oz.</p>
    </div>
    <div class="circular-item-footer card-footer">
      {% include examples/shopping-lists/_shopping-list-add-form-mini-example.html %}
    </div>
  </article>
</div>

