<article class="circular-item circular-image-item circular-image-item-tower-2k-square col card card-standard">
  <img src="/assets/images/image-items/recipe_8288_2k_square.jpg" alt="Picture of Sweet Corn Recipe Contest!" class="img-fluid circular-image-item-image">
  <div class="circular-image-item-body card-body">
    <h3 class="circular-image-item-title">Enter to Win The Sweet Corn Recipe Contest!</h3>
    <p class="circular-image-item-description">Enter before 10/11/2020! Entry form, rules, and other details in the link below.</p>
    <div class="circular-image-item-footer">
      <a href="https://www.topsmarkets.com/Recipes/Detail/8288/Creamy_Corn_Filled_Sweet_Peppers/" class="circular-image-item-button btn btn-primary btn-block" target="_blank">
        Learn More & Enter! <i class="icon-arrow-right"></i>
      </a>
    </div>
  </div>
</article>


