<header class="wsg-navbar navbar navbar-expand-sm navbar-dark bg-webstop flex-column flex-md-row">
  <a class="navbar-brand mr-0 mr-md-2" href="{{ site.baseurl }}/" aria-label="Webstop Style Guide">
    <img src="/assets/images/webstop-icon-white-72dpi.png" class="webstop-logo">
    WSG
  </a>

  <p class="wsg-responsive-size sans-serif">
    <span class="d-block d-sm-none">xs</span>
    <span class="d-none d-sm-block d-md-none">sm</span>
    <span class="d-none d-md-block d-lg-none">md</span>
    <span class="d-none d-lg-block d-xl-none">lg</span>
    <span class="d-none d-xl-block">xl</span>
  </p>

  <nav class="wsg-nav navbar-nav-scroll">
    <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <a class="wsg-nav-link nav-link {% if page.layout == "home" %}active{% endif %}" href="{{ site.baseurl }}/">Home</a>
      </li>
      <li class="nav-item">
        <a class="wsg-nav-link nav-link {% if page.layout == "docs" %}active{% endif %}" href="{{ site.baseurl }}/docs/grocery/circulars/circular-items">
        <span class="d-none d-sm-inline">Documentation</span>
        <span class="d-sm-none">Docs</span>
        </a>
      </li>
      <!--<li class="nav-item">-->
        <!--<a class="wsg-nav-link nav-link {% if page.layout == "Themes" %}active{% endif %}" href="{{ site.baseurl }}/themes/introduction">Themes</a>-->
      <!--</li>-->
      <li class="nav-item">
        <a class="wsg-nav-link nav-link {% if page.layout == "develop" %}active{% endif %}" href="{{ site.baseurl }}/develop/introduction">
          <span class="d-none d-sm-inline">Develop</span>
          <span class="d-sm-none">Dev</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="wsg-nav-link nav-link" href="https://github.com/Webstop/webstop-wiki" target="_blank">Wiki</a>
      </li>
      <li class="nav-item">
        <a class="wsg-nav-link nav-link" href="https://github.com/Webstop/core-specs#webstop-core-specifications" target="_blank">Specs</a>
      </li>
      <!--<li class="nav-item">-->
        <!--<a class="wsg-nav-link nav-link {% if page.layout == "support" %}active{% endif %}" href="{{ site.baseurl }}/contact/support">Support</a>-->
      <!--</li>-->
    </ul>
  </nav>
</header>
