<header class="navbar navbar-expand-sm navbar-dark bg-webstop flex-column flex-md-row">
  <a class="navbar-brand mr-0 mr-md-2" href="{{ site.baseurl }}/" aria-label="Webstop Style Guide">
    <img src="/assets/images/webstop-icon-white-72dpi.png" class="webstop-logo">
    WSG
  </a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link {% if page.layout == "home" %}active{% endif %}" href="{{ site.baseurl }}/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.layout == "docs" %}active{% endif %}" href="{{ site.baseurl }}/docs/grocery/circulars/circular-items">Documentation</a>
      </li>
      <!--<li class="nav-item">-->
        <!--<a class="nav-link {% if page.layout == "Themes" %}active{% endif %}" href="{{ site.baseurl }}/themes/introduction">Themes</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link {% if page.layout == "develop" %}active{% endif %}" href="{{ site.baseurl }}/develop/introduction">Develop</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link {% if page.layout == "support" %}active{% endif %}" href="{{ site.baseurl }}/contact/support">Support</a>-->
      <!--</li>-->
    </ul>
  </div>
</header>


