<form class="d-flex align-items-center">
  <button class="btn btn-link d-md-none p-0 mr-1" type="button" data-toggle="collapse" data-target="#wsg-docs-nav" aria-controls="wsg-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">

    <h4>{% include icons/menu.svg class="wsg-docs-nav-menu-icon" width="25" height="25" %} Documentation Navigation</h4>
  </button>

</form>

<nav class="collapse wsg-links" id="wsg-docs-nav">
  <ul class="list-unstyled">
    {% capture base_docs_url %}{{ site.baseurl }}/docs{% endcapture %}
    {% for category in site.data.nav %}
      {% assign first_group = category.pages | first %}
      {% assign link = first_group.pages | first %}
      {% assign category_slug = category.title | downcase | replace: ' ', '-' || page.title | downcase | replace: ' ', '-' %}
      {% assign active = nil %}

      {% if category.path == null or category.path == ''  %}
        {% capture category_url %}{{base_docs_url}}//{{ category.title | downcase | replace: ' ', '-' }}/{{ first_group.title | downcase | replace: ' ', '-' || page.title | downcase | replace: ' ', '-'  }}/{{ link.title | downcase | replace: ' ', '-' || page.title | downcase | replace: ' ', '-'  }}{% endcapture %}
      {% else %}
        {% capture category_url %}{{base_docs_url}}/{{ category.path }}{% endcapture %}
      {% endif %}

      {% if page.url contains category_slug %}
        {% assign active = 'is-active-category' %}
      {% endif %}

      <li class="wsg-toc-category {{ active }}">
        <a class="wsg-toc-category-link" href="{{ category_url }}">
          {{ category.title }}
        </a>
        <ul class="list-unstyled wsg-toc-groups">
          {% for group in category.pages %}
            {% assign link = group.pages | first %}
            {% assign slug = group.title | downcase | replace: ' ', '-' || page.title | downcase | replace: ' ', '-' %}
            {% capture base_category_url %}{{base_docs_url}}/{{ category_slug }}/{{ group.title | downcase | replace: ' ', '-' }}{% endcapture %}
            {% assign active = nil %}

            {% if group.path == null or group.path == ''  %}
              {% capture group_url %}{{base_category_url}}/{{ link.title | downcase | replace: ' ', '-' || page.title | downcase | replace: ' ', '-'  }}{% endcapture %}
            {% else %}
              {% capture group_url %}{{base_docs_url}}/{{ group.path }}{% endcapture %}
            {% endif %}

            {% if page.url contains slug %}
              {% assign active = 'is-active-group' %}
            {% endif %}

            <li class="wsg-toc-group wsg-category-nav {{ active }}">
              <a class="wsg-toc-group-link" href="{{group_url}}">
               {{ group.title }}
              </a>

              <!-- START: doc/pages -->
              <ul class="wsg-toc-docs list-unstyled">
                {% for doc in group.pages %}
                  {% assign slug = doc.title | downcase | replace: ' ', '-' | replace:'-&-','-' %}
                  {% capture slug %}/{{ slug }}{% endcapture %}
                  {% assign active = nil %}

                  {% if page.url contains slug %}
                    {% assign active = 'active wsg-group-nav-active' %}
                  {% endif %}

                  {% if doc.path == null or doc.path == ''  %}
                    {% capture doc_url %}{{base_category_url}}/{{ doc.title | downcase | replace: ' ', '-' | replace:'-&-','-' }}{% endcapture %}
                  {% else %}
                    {% capture doc_url %}{{base_docs_url}}/{{ doc.path }}{% endcapture %}
                  {% endif %}

                  <li class="{{ active }}">
                    <a href="{{doc_url}}" class="wsg-toc-doc-link">
                      {{ doc.title }}
                    </a>

                    {% unless doc.sections == nil %}
                    <ul class="wsg-toc-sub-docs">
                      {% for section in doc.sections %}
                      <li>
                        <a href="{{doc_url}}#{{ section.title | downcase | replace: ' ', '-' }}" class="wsg-toc-sub-doc-link">
                          {{ section.title }}
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                    {% endunless %}
                  </li>
                {% endfor %}
              </ul><!-- START: doc/pages -->
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</nav>
