<form class="wsg-search hidden-sm-down">
  <input type="text" class="form-control" id="search-input" placeholder="Search..." autocomplete="off">
  <div class="dropdown-menu wsg-search-results" id="search-results"></div>
</form>

<nav class="wsg-links" id="docsNavbarContent">
  <ul class="list-unstyled">
    {% capture base_docs_url %}{{ site.baseurl }}/docs{% endcapture %}
    {% for category in site.data.nav %}
      {% assign first_group = category.pages | first %}
      {% assign link = first_group.pages | first %}
      {% assign category_slug = category.title | downcase | replace: ' ', '-' || page.title | downcase | replace: ' ', '-' %}
      {% assign active = nil %}

      {% if page.url contains category_slug %}
        {% assign active = 'is-active-category' %}
      {% endif %}

      <li class="wsg-toc-category {{ active }}">
        <a class="wsg-toc-category-link" href="{{ site.baseurl }}/docs/{{ category.title | downcase | replace: ' ', '-' }}/{{ first_group.title | downcase | replace: ' ', '-' || page.title | downcase | replace: ' ', '-'  }}/{{ link.title | downcase | replace: ' ', '-' || page.title | downcase | replace: ' ', '-'  }}">
          {{ category.title }}
        </a>
        <ul class="list-unstyled">
          {% for group in category.pages %}
            {% assign link = group.pages | first %}
            {% assign slug = group.title | downcase | replace: ' ', '-' || page.title | downcase | replace: ' ', '-' %}
            {% capture base_category_url %}{{base_docs_url}}/{{ category_slug }}/{{ group.title | downcase | replace: ' ', '-' }}{% endcapture %}
            {% assign active = nil %}

            {% if page.url contains slug %}
              {% assign active = 'is-active-group' %}
            {% endif %}

            <li class="wsg-toc-group wsg-category-nav {{ active }}">
              <a class="wsg-toc-group-link" href="{{base_category_url}}/{{ link.title | downcase | replace: ' ', '-' || page.title | downcase | replace: ' ', '-'  }}">
               {{ group.title }}
              </a>

              <!-- START: doc/pages -->
              <ul class="nav wsg-group-nav list-unstyled">
                {% for doc in group.pages %}
                  {% assign slug = doc.title | downcase | replace: ' ', '-' | replace:'-&-','-' %}
                  {% capture slug %}/{{ slug }}{% endcapture %}
                  {% assign active = nil %}

                  {% if page.url contains slug %}
                    {% assign active = 'active wsg-group-nav-active' %}
                  {% endif %}

                  {% if doc.path == null or doc.path == ''  %}

                    {% capture doc_url %}{{base_category_url}}/{{ doc.title | downcase | replace: ' ', '-' | replace:'-&-','-' }}{% endcapture %}
                  {% else %}
                    {% capture doc_url %}{{base_docs_url}}/{{ doc.path }}{% endcapture %}
                  {% endif %}

                  <li class="{{ active }}">
                    <a href="{{doc_url}}">
                      {{ doc.title }}
                    </a>

                    {% unless doc.sections == nil %}
                    <ul class="nav">
                      {% for section in doc.sections %}
                      <li>
                        <a href="{{doc_url}}#{{ section.title | downcase | replace: ' ', '-' }}">
                          {{ section.title }}
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                    {% endunless %}
                  </li>
                {% endfor %}
              </ul><!-- START: doc/pages -->
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</nav>
