<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Webstop Style Guide</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link {% if page.layout == "home" %}active{% endif %}" href="{{ site.baseurl }}/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.layout == "docs" %}active{% endif %}" href="{{ site.baseurl }}/docs/getting-started/introduction">Documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.layout == "Themes" %}active{% endif %}" href="{{ site.baseurl }}/themes/introduction">Themes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.layout == "develop" %}active{% endif %}" href="{{ site.baseurl }}/develop/introduction">Develop</a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if page.layout == "support" %}active{% endif %}" href="{{ site.baseurl }}/contact/support">Support</a>
      </li>
      <!--<li class="nav-item dropdown">-->
        <!--<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
          <!--Dropdown link-->
        <!--</a>-->
        <!--<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
          <!--<a class="dropdown-item" href="#">Action</a>-->
          <!--<a class="dropdown-item" href="#">Another action</a>-->
          <!--<a class="dropdown-item" href="#">Something else here</a>-->
        <!--</div>-->
      <!--</li>-->
    </ul>
  </div>
</nav>
