{% include page-header-data.html %}

<header class="wsg-page-header">
  <div class="container-fluid">
    <h1>{{ page_heading }}</h1>
    <p class="lead">{{ page_lead }}</p>
  </div>
</header>
{% if source_name != nil %}
  <div class="container-fluid">
    <div class="page-source">
      <p>
        Source:
        <a href="{{ source_url }}">
          {{ source_name }}
          {% if source_icon != nil %}
            <span class="page-source-icon {{ source_icon }}"></span>
          {% endif %}
        </a>
      </p>
    </div>
  </div>
{% endif %}
