{% if page.group == "home" %}
  <h1><strong>WSG &middot;</strong> Webstop Style Guide</h1>
  <img src="/assets/images/Webstop-device-illustration.png">
  <p class="lead">
    The definitive source of styling guidelines for grocery websites &amp; mobile apps.
  </p>
{% elsif page.group == "getting-started" %}
  <h1>Getting started</h1>
  <p class="lead">
    An overview of Webstop's front-end framework, including how to install and use it, some basic tips, and more.
  </p>
{% elsif page.group == "layout" %}
  <h1>Layout</h1>
  <p class="lead">
    Options for structuring your pages with Bootstrap, including global styles, required scaffolding, grid system, and more.
  </p>
{% elsif page.group == "content" %}
  <h1>Content</h1>
  <p class="lead">
    Bootstrap's styles for displaying content with some of the most commonly used HTML elements, including normalization, typography, images, tables, and more.
  </p>
{% elsif page.group == "components" %}
  <h1>Components</h1>
  <p class="lead">
    Bootstrap provides over a dozen reusable components built to provide buttons, dropdowns, input groups, navigation, alerts, and much more.
  </p>
{% elsif page.group == "javascript" %}
  <h1>JavaScript plugins</h1>
  <p class="lead">
    Bring Bootstrap's components to life with over a dozen custom jQuery plugins. Easily include them all, or one by one.
  </p>
{% elsif page.group == "about" %}
  <h1>About</h1>
  <p class="lead">
    Learn about the project's history, meet the maintaining teams, and find out how to use the Bootstrap brand.
  </p>
{% elsif page.group == "browser-bugs" %}
  <h1>Wall of browser bugs</h1>
  <p class="lead">
    A list of the browser bugs that Bootstrap is currently grappling with.
  </p>
{% elsif page.group == "page-layout" %}
<h1>Page Layout</h1>
<p class="lead">
  Templates and components for page layout.
</p>
{% elsif page.group == "develop" %}
<h1>Develop</h1>
<p class="lead">
  Common templates and test cases for developing components and updating styles.
</p>
{% endif %}
