<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

<!-- CS2 Scripts -->
<script src="/dist/js/core-styles/config.js"></script>
<script src="/dist/js/core-styles/live.js"></script>
<!-- Note: we don't include ahoy.js or aye.js here because we don't want our documentation site to track. -->
<!-- However we do include them on the develop-site.html template so dev pages can test tracking. -->
<script src="/dist/js/core-styles/tags.js" defer></script>
<script src="/dist/js/core-styles/ajax-form.js"></script>
<script src="/dist/js/core-styles/ajax-load.js"></script>
<script src="/dist/js/core-styles/bootstrap-data-attributes.js"></script>
<script src="/dist/js/core-styles/checkbox-selector.js"></script>
<script src="/dist/js/core-styles/shopping-list-power-bar.js"></script>
<script src="/dist/js/core-styles/form-toggles.js"></script>
<script src="/dist/js/core-styles/search.js"></script>
<script src="/dist/js/core-styles/circular-cookies.js"></script>

<!-- Scripts below here are for docs only-->
<script src="/assets/js/search-results.js"></script>
