<a class="store-list-item col" href="#">
          <div class="store-list-item-row-1 row">
            <span class="store-list-item-address col">{{- include.address -}}</span>
            <span class="store-list-item-number col-auto">{{- include.store_number -}}</span>
          </div>
          <div class="store-list-item-row-2 row">
            <span class="store-list-item-city  col-auto">{{- include.city -}}</span>
            <span class="store-list-item-location-name col">{{- include.location_name -}}</span>
          </div>
        </a>
