<div class="stores-list">
  <h1 class="stores-list-title">Store Locations</h1>
  <p class="stores-list-description">We have 37 locations to serve you.</p>

  <ul class="stores-states-index nav nav-tabs" id="stores-states-index" role="tablist">
    <li class="stores-states-item nav-item">
      <a class="stores-states-link nav-link active" id="state-1-tab" data-toggle="tab" href="#state-1" role="tab" aria-controls="state-1" aria-selected="true">Florida</a>
    </li>
    <li class="stores-states-item nav-item">
      <a class="stores-states-link nav-link" id="state-2-tab" data-toggle="tab" href="#state-2" role="tab" aria-controls="state-2" aria-selected="false">New York</a>
    </li>
    <li class="stores-states-item nav-item">
      <a class="stores-states-link nav-link" id="state-3-tab" data-toggle="tab" href="#state-3" role="tab" aria-controls="state-3" aria-selected="false">Pennsylvania</a>
    </li>
    <li class="stores-states-item nav-item">
      <a class="stores-states-link nav-link" id="state-4-tab" data-toggle="tab" href="#state-4" role="tab" aria-controls="state-4" aria-selected="false">Vermont</a>
    </li>
  </ul>
  <div class="stores-by-states tab-content" id="store-states-content">
    <div class="stores-in-state tab-pane fade show active" id="state-1" role="tabpanel" aria-labelledby="state-1-tab">
      <div class="stores-in-state-extras">
        We have 9 locations in Florida.
      </div>
      <div class="stores-in-state-list row">
        ...
      </div>
    </div>
    <div class="stores-in-state tab-pane fade" id="state-2" role="tabpanel" aria-labelledby="state-2-tab">
      <div class="stores-in-state-extras">
        We have 17 locations in New York.
      </div>
      <div class="stores-in-state-list row">
        ...
      </div>
    </div>
    <div class="stores-in-state tab-pane fade" id="state-3" role="tabpanel" aria-labelledby="state-3-tab">
      <div class="stores-in-state-extras">
        We have 8 locations in Pennsylvania.
      </div>
      <div class="stores-in-state-list row">
        ...
      </div>
    </div>
    <div class="stores-in-state tab-pane fade" id="state-4" role="tabpanel" aria-labelledby="state-4-tab">
      <div class="stores-in-state-extras">
        We have 4 locations in Vermont.
      </div>
      <div class="stores-in-state-list row">
        ...
      </div>
    </div>
  </div>
</div>

