<nav class="toolbar">
  <div class="toolbar-body">
    <div class="toolbar-group btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-light">Left</button>
      <button type="button" class="btn btn-light">Middle</button>
      <button type="button" class="btn btn-light">Right</button>
    </div>
    <div class="toolbar-group" role="group" aria-label="Basic example">
      <form class="form-inline">
        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
        <div class="input-group mr-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
        </div>
      </form>
    </div>
  </div>
</nav>

<br>

<nav class="toolbar justify-content-between">
  <div class="toolbar-body">
    <div class="toolbar-group btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-light">Left</button>
      <button type="button" class="btn btn-light">Middle</button>
      <button type="button" class="btn btn-light">Right</button>
    </div>
    <div class="toolbar-group" role="group" aria-label="Basic example">
      <form class="form-inline">
        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
        <div class="input-group mr-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
        </div>
      </form>
    </div>
  </div>

</nav>
