<nav class="toolbar">
  <div class="toolbar-group btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-light">Left</button>
    <button type="button" class="btn btn-light">Middle</button>
    <button type="button" class="btn btn-light">Right</button>
  </div>

  <div class="toolbar-group">
    <button type="button" class="btn btn-light">Alone</button>
  </div>
  <div class="toolbar-group">
    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>

  <div class="toolbar-group btn-group" role="group" aria-label="Basic example">
    <div class="dropdown btn-group" role="group">
      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownLeftMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Left
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownLeftMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <div class="dropdown btn-group" role="group">
      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMiddleMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Middle
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMiddleMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <div class="dropdown btn-group" role="group">
      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownRightMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Right
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownRightMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>

  <div class="toolbar-group ml-auto">
    <div class="toolbar-text-item"><strong>Shopping List</strong> <i class="icon-shopping-list"></i></div>
  </div>

</nav>



