// webstop

.webstop-color {
  color: $webstop-blue;
}

.bg-webstop{
  background-color: $webstop-blue;
}

.webstop-sans-serif {
  font-family: 'Montserrat';
}

.webstop-serif {
  font-family: 'Libre Baskerville';
}

.webstop-logo {

}

.webstop-logo-alt {

}
