---
layout: develop-site
title: Circular Page
description: Example circular page layout.
group: develop
toc: false
---

<div class="circulars">
  <div class="circular">
    {% include examples/circular/_circular-navigation-example.html %}

    <h1 class="circular-title">Weekly Specials</h1>

    <div class="row">
      {% include examples/circular-items/_circular-item-banner-example.html %}
      {% include examples/circular-items/_circular-item-standard-example.html %}
      {% include examples/circular-items/_circular-item-standard-example.html %}
      {% include examples/circular-items/_circular-item-standard-example.html %}
      {% include examples/circular-items/_circular-item-standard-promotion-example.html %}
      {% include examples/circular-items/_circular-item-standard-example.html %}
      {% include examples/circular-items/_circular-item-standard-example.html %}
      {% include examples/circular-items/_circular-item-standard-coupon-example.html %}
    </div>
  </div>
</div>


