@charset "utf-8";

.shopping-list-power-bar {
  width: 250px;
  overflow: hidden;
  background-color: $white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 100vh;

  .shopping-list-power-bar-heading {
    padding: $spacer;
    border-bottom: 1px solid $theme-primary;
    opacity: 0.95;
    background-color: $theme-bg;
  }

  .shopping-list-power-bar-title {
    text-align: center;
    white-space: nowrap;
  }

  .shopping-list-power-bar-items {
    //max-height: calc(100vh - 161px);
    margin-top: -161px;
    padding-top: 161px;
    max-height: 100vh;
    overflow-y: auto;
  }

  .shopping-list-power-bar-item:first-child {
    border-top: 0;
  }

  .shopping-list-power-bar-item {
    border-color: $theme-primary;
    min-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 8px;
    z-index: -1;
  }

  &.shopping-list-power-bar-faux {
    opacity: 0.5;
    .shopping-list-power-bar-item-text {
      background: #ccc;
      color: #999;
    }
  } // faux

}

// Bug: Edge forces dropdown menus under other items because it doesn't understand position: sticky
// the following fixes that.
@supports (-ms-ime-align: auto) {
  .shopping-list-power-bar {
    position: fixed;
  }
}
