<div class="shopping-list-power-bar" id="shopping-list-power-bar">
  <nav class="shopping-list-power-bar-toolbar toolbar justify-content-center">
    <div class="toolbar-group btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-light">View</button>
      <button type="button" class="btn btn-light">Print</button>
      <button type="button" class="btn btn-light">Edit</button>
    </div>
  </nav>
  <div class="shopping-list-power-bar-heading">
    <h4 class="shopping-list-power-bar-title text-nowrap">My Shopping List</h4>
    <div class="shopping-list-power-bar-lists dropdown">
      <button class="btn btn-light btn-block dropdown-toggle" type="button" id="shopping-list-power-bar-list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        My 10/23/2018 List
      </button>
      <div class="dropdown-menu shadow-sm" aria-labelledby="shopping-list-power-bar-list">
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#shopping-list-modal" data-verb="Create">New List</a>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#shopping-list-modal" data-verb="Rename">Rename List</a>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#shopping-list-modal" data-verb="Delete">Delete List</a>
        <div class="dropdown-divider"></div>
        <span class="dropdown-item"><strong>My Lists:</strong></span>
        <a class="dropdown-item" href="#">Ivani's Birthday List</a>
        <a class="dropdown-item" href="#">Office Party List</a>
        <a class="dropdown-item active" href="#">My 10/23/2018 List</a>
        <a class="dropdown-item" href="#">My 9/12/2018 List</a>
      </div>
    </div>
  </div>

  <div class="shopping-list-power-bar-items">
    <ul class="shopping-list-power-bar-items-group list-group list-group-flush">
      <li class="shopping-list-power-bar-item list-group-item">Cras justo odio</li>
      <li class="shopping-list-power-bar-item list-group-item">Dapibus ac facilisis in</li>
      <li class="shopping-list-power-bar-item list-group-item">Morbi leo risus</li>
      <li class="shopping-list-power-bar-item list-group-item">Porta ac consectetur ac facilisis in</li>
      <li class="shopping-list-power-bar-item list-group-item">Vestibulum at eros</li>
      <li class="shopping-list-power-bar-item list-group-item">Cras justo odio</li>
      <li class="shopping-list-power-bar-item list-group-item">Dapibus ac facilisis in at eros</li>
      <li class="shopping-list-power-bar-item list-group-item">Morbi leo risus</li>
      <li class="shopping-list-power-bar-item list-group-item">Porta ac consectetur ac</li>
      <li class="shopping-list-power-bar-item list-group-item">Vestibulum at eros</li>
      <li class="shopping-list-power-bar-item list-group-item">Cras justo odio</li>
      <li class="shopping-list-power-bar-item list-group-item">Dapibus ac facilisis in</li>
      <li class="shopping-list-power-bar-item list-group-item">Morbi leo risus</li>
      <li class="shopping-list-power-bar-item list-group-item">Porta ac consectetur ac</li>
      <li class="shopping-list-power-bar-item list-group-item">Vestibulum at eros</li>
      <li class="shopping-list-power-bar-item list-group-item">Cras justo odio</li>
      <li class="shopping-list-power-bar-item list-group-item">Dapibus ac facilisis in</li>
      <li class="shopping-list-power-bar-item list-group-item">Morbi leo risus</li>
      <li class="shopping-list-power-bar-item list-group-item">Porta ac consectetur ac</li>
      <li class="shopping-list-power-bar-item list-group-item">Vestibulum at eros</li>
    </ul>
  </div>

  <div class="shopping-list-modal modal fade" id="shopping-list-modal" tabindex="-1" role="dialog" aria-labelledby="shopping-list-modal-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="shopping-list-modal-title modal-title" id="shopping-list-modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="shopping-list-form" action="">
          <div class="modal-body">
            <div class="shopping-list-form-name-group form-group">
              <label for="shopping-list-form-name" class="shopping-list-form-name-label">Name</label>
              <input type="text" class="shopping-list-form-name form-control" id="shopping-list-form-name">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" style="z-index: 5000;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="z-index: 5000;" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</div>

