<div class="shopping-list-power-bar" id="shopping-list-power-bar">
  <nav class="shopping-list-power-bar-toolbar toolbar justify-content-center">
    <div class="toolbar-group btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-light">View</button>
      <button type="button" class="btn btn-light">Print</button>
      <button type="button" class="btn btn-light">Edit</button>
    </div>
  </nav>
  <div class="shopping-list-power-bar-heading">
    <h4 class="shopping-list-power-bar-title text-nowrap">My Shopping List</h4>
    <div class="shopping-list-power-bar-lists dropdown">
      <button class="btn btn-light btn-block dropdown-toggle" type="button" id="shopping-list-power-bar-list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        My 10/23/2018 List
      </button>
      <div class="dropdown-menu shadow-sm" aria-labelledby="shopping-list-power-bar-list">
        <a class="dropdown-item" href="#">New List</a>
        <a class="dropdown-item" href="#">Rename List</a>
        <a class="dropdown-item" href="#">Delete List</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Ivani's Birthday List</a>
        <a class="dropdown-item" href="#">Office Party List</a>
        <a class="dropdown-item active" href="#">My 10/23/2018 List</a>
        <a class="dropdown-item" href="#">My 9/12/2018 List</a>
      </div>
    </div>
  </div>

  <div class="shopping-list-power-bar-items">
    <ul class="shopping-list-power-bar-items-group list-group list-group-flush">
      <li class="shopping-list-power-bar-item list-group-item">Cras justo odio</li>
      <li class="shopping-list-power-bar-item list-group-item">Dapibus ac facilisis in</li>
      <li class="shopping-list-power-bar-item list-group-item">Morbi leo risus</li>
      <li class="shopping-list-power-bar-item list-group-item">Porta ac consectetur ac facilisis in</li>
      <li class="shopping-list-power-bar-item list-group-item">Vestibulum at eros</li>
      <li class="shopping-list-power-bar-item list-group-item">Cras justo odio</li>
      <li class="shopping-list-power-bar-item list-group-item">Dapibus ac facilisis in at eros</li>
      <li class="shopping-list-power-bar-item list-group-item">Morbi leo risus</li>
      <li class="shopping-list-power-bar-item list-group-item">Porta ac consectetur ac</li>
      <li class="shopping-list-power-bar-item list-group-item">Vestibulum at eros</li>
      <li class="shopping-list-power-bar-item list-group-item">Cras justo odio</li>
      <li class="shopping-list-power-bar-item list-group-item">Dapibus ac facilisis in</li>
      <li class="shopping-list-power-bar-item list-group-item">Morbi leo risus</li>
      <li class="shopping-list-power-bar-item list-group-item">Porta ac consectetur ac</li>
      <li class="shopping-list-power-bar-item list-group-item">Vestibulum at eros</li>
      <li class="shopping-list-power-bar-item list-group-item">Cras justo odio</li>
      <li class="shopping-list-power-bar-item list-group-item">Dapibus ac facilisis in</li>
      <li class="shopping-list-power-bar-item list-group-item">Morbi leo risus</li>
      <li class="shopping-list-power-bar-item list-group-item">Porta ac consectetur ac</li>
      <li class="shopping-list-power-bar-item list-group-item">Vestibulum at eros</li>
    </ul>
  </div>

</div>

