<div class="site site-fluid">
  <div class="site-row row">
    <div class="site-main col">
      <div class="site-header" role="banner">
        <nav class="toolbar justify-content-between" aria-label="Circular page navigation.">
          <div class="toolbar-group btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-light">
              <i class="icon-arrow-left"></i><span class="sr-only">Previous Page</span>
            </button>
            <div class="dropdown btn-group" role="group">
              <button class="btn btn-light dropdown-toggle" type="button" id="circular-pages-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="d-none d-sm-inline">Page 3 of 14</span>
                <span class="d-inline d-sm-none">Pg. 3</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="circular-pages-button">
                <a class="dropdown-item" href="#"><strong>Recommended For You</strong></a>
                <a class="dropdown-item" href="#">Page 1 of 14</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><strong>Weekly Specials!</strong></a>
                <a class="dropdown-item" href="#">Page 2 of 14</a>
                <a class="dropdown-item active" href="#">Page 3 of 14</a>
                <a class="dropdown-item" href="#">Page 4 of 14</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><strong>Price Lock Guarantee</strong></a>
                <a class="dropdown-item" href="#">Page 5 of 14</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><strong>Let's Get BOO-ing!</strong></a>
                <a class="dropdown-item" href="#">Page 5 of 14</a>
              </div>
            </div>
            <button type="button" class="btn btn-light">
              <i class="icon-arrow-right"></i><span class="sr-only">Next Page</span>
            </button>
          </div>

          <div class="toolbar-group" role="group" aria-label="Basic example">
            <a href="#" class="shopping-list-power-bar-toggle" style="padding: 0.375rem 0.75rem;">
              Shopping List <i class="icon-shopping-list"></i>
            </a>
          </div>
        </nav>
      </div>
      <div class="site-content" role="main">
        <div class="row">
          {% include examples/circular-items/_circular-item-standard-example.html %}
          {% include examples/circular-items/_circular-item-standard-example.html %}
          {% include examples/circular-items/_circular-item-standard-example.html %}
          {% include examples/circular-items/_circular-item-standard-example.html %}
        </div>
      </div>
      <div class="site-footer" role="contentinfo">
        Site Footer...
      </div>
      <div class="site-debug" aria-hidden="true">
        Site Debug Code...
      </div>
    </div>
    <aside class="site-aside col-auto">
      {% include examples/shopping-lists/_shopping-list-power-bar-example.html %}
    </aside>
  </div>
</div>
