<div class="site site-fluid">
  <div class="site-header">
    Site Header...
  </div>
  <div class="site-navigation">
    Site Navigation...
  </div>
  <div class="site-content">
    Site Main Content...
  </div>
  <div class="site-footer">
    Site Footer...
  </div>
  <div class="site-debug">
    Site Debug Code...
  </div>
</div>

<hr>

<div class="site site-fixed">
  <div class="site-header">
    Site Header...
  </div>
  <div class="site-navigation">
    Site Navigation...
  </div>
  <div class="site-content">
    Site Main Content...
  </div>
  <div class="site-footer">
    Site Footer...
  </div>
  <div class="site-debug">
    Site Debug Code...
  </div>
</div>

<hr>

<div class="site site-fluid site-content-only">
  <div class="site-header">
    Site Header...
  </div>
  <div class="site-navigation">
    Site Navigation...
  </div>
  <div class="site-content">
    Site Main Content...
  </div>
  <div class="site-footer">
    Site Footer...
  </div>
  <div class="site-debug">
    Site Debug Code...
  </div>
</div>

<hr>

<div class="site site-fluid site-debug-on">
  <div class="site-header">
    Site Header...
  </div>
  <div class="site-navigation">
    Site Navigation...
  </div>
  <div class="site-content">
    Site Main Content...
  </div>
  <div class="site-footer">
    Site Footer...
  </div>
  <div class="site-debug">
    Site Debug Code...
  </div>
</div>
