<div class="circular-navigation">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="page-navigation-tab" data-toggle="tab" href="#page-navigation" role="tab" aria-controls="Pages" aria-selected="true">Pages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="department-navigation-tab" data-toggle="tab" href="#department-navigation" role="tab" aria-controls="Departments" aria-selected="false">Departments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="brand-navigation-tab" data-toggle="tab" href="#brand-navigation" role="tab" aria-controls="Brands" aria-selected="false">Brands</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active pt-2" id="page-navigation" role="tabpanel" aria-labelledby="page-navigation-tab">
      <div class="row">
        <div class="circular-navigation-circular col-auto">
          <h5 class="circular-navigation-title">Weekly specials!</h5>
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm">
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active"><a class="page-link" href="#">2<span class="sr-only"> (current)</span></a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item"><a class="page-link" href="#">6</a></li>
              <li class="page-item"><a class="page-link" href="#">7</a></li>
              <li class="page-item"><a class="page-link" href="#">8</a></li>
            </ul>
          </nav>
          <p class="circular-navigation-dates"><span class="circular-navigation-date-start">10/14/18</span> <span class="circular-navigation-date-to">to</span> <span class="circular-navigation-date-end">10/20/18</span></p>
        </div>
        <div class="circular-navigation-circular col-auto">
          <h5 class="circular-navigation-title">Super Coupons!</h5>
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm">
              <li class="page-item"><a class="page-link" href="#">1</a></li>
            </ul>
          </nav>
          <p class="circular-navigation-dates"><span class="circular-navigation-date-start">10/14/18</span> <span class="circular-navigation-date-to">to</span> <span class="circular-navigation-date-end">10/20/18</span></p>
        </div>
        <div class="circular-navigation-circular col-auto">
          <h5 class="circular-navigation-title">Great Savings To Start Your Day</h5>
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm">
              <li class="page-item"><a class="page-link" href="#">1</a></li>
            </ul>
          </nav>
          <p class="circular-navigation-dates"><span class="circular-navigation-date-start">10/14/18</span> <span class="circular-navigation-date-to">to</span> <span class="circular-navigation-date-end">10/20/18</span></p>
        </div>
        <div class="circular-navigation-circular col-auto">
          <h5 class="circular-navigation-title">Scary Good Deals!</h5>
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm">
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
            </ul>
          </nav>
          <p class="circular-navigation-dates"><span class="circular-navigation-date-start">10/14/18</span> <span class="circular-navigation-date-to">to</span> <span class="circular-navigation-date-end">10/20/18</span></p>
        </div>
        <div class="circular-navigation-circular col-auto">
          <h5 class="circular-navigation-title">Tops Low Prices Every Day</h5>
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm">
              <li class="page-item"><a class="page-link" href="#">1</a></li>
            </ul>
          </nav>
          <p class="circular-navigation-dates"><span class="circular-navigation-date-start">10/14/18</span> <span class="circular-navigation-date-to">to</span> <span class="circular-navigation-date-end">10/20/18</span></p>
        </div>
        <div class="circular-navigation-circular col-auto">
          <h5 class="circular-navigation-title">Price Lock Guarantee - Now Through November 3, 2018</h5>
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm">
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
            </ul>
          </nav>
          <p class="circular-navigation-dates"><span class="circular-navigation-date-start">9/9/18</span> <span class="circular-navigation-date-to">to</span> <span class="circular-navigation-date-end">11/3/18</span></p>
        </div>

      </div>



    </div>
    <div class="tab-pane fade" id="department-navigation" role="tabpanel" aria-labelledby="department-navigation-tab">...</div>
    <div class="tab-pane fade" id="brand-navigation" role="tabpanel" aria-labelledby="brand-navigation-tab">...</div>
  </div>
</div>

