
.bd-example {
  background-color: #f6f5f0;
}

.bd-example .pagination.toolbar-group {
  margin: 0;
  margin-right: $toolbar-spacer;
}

.example-height-fixed .bd-example .shopping-list-power-bar-items {
  max-height: 270px;
}
