// scss-lint:disable ImportantRule

.page-source {
  font-size: 0.8rem;
  text-transform: capitalize;
  a {
    color: inherit !important;
  }
  .page-source-icon {
    font-size: 2em;
    //text-shadow:
    //  -1px -1px 1px lighten($webstop-blue, 10%),
    //   1px -1px 1px lighten($webstop-blue, 10%),
    //  -1px  1px 1px lighten($webstop-blue, 10%),
    //   1px  1px 1px lighten($webstop-blue, 10%);
  }
}

.wsg-page-section-header {
  margin: 0;
  padding: 1rem ($grid-gutter-width / 2);
  background-color: lighten($webstop-blue, 35%);
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  @include media-breakpoint-up(sm) {
    text-align: left;
  }

  .page-section-title {
     font-size: 2rem;
     //color: #fff;
   }

  .page-section-lead {
    margin-bottom: 0;
  }

}

.wsg-page-header {
  padding: 1rem ($grid-gutter-width / 2);
  margin-bottom: 1.5rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: lighten($webstop-blue, 35%);
  text-align: center;
  background-color: $webstop-blue;
  background-image: url("/assets/images/W_on_blue_873x500_300dpi.png");
  background-size: 163.5px 93.5px; // 873px x 500px
  // 1/2 -> 436.5px  250px
  // 1/4 -> 218.25px 125px
  // 1/6 -> 163.5px  93.5px
  // 1/8 -> 109px    63px
  background-repeat: no-repeat;
  background-position: right bottom;
  
  .page-title {
    font-size: 4rem;
    color: #fff;
  }

  .page-lead {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  @include media-breakpoint-up(sm) {
    text-align: left;
    background-size: 218.25px 125px;
  }

}
