// scss-lint:disable ImportantRule


.page-source {
  font-size: 0.8em;
  text-transform: capitalize;
  a {
    color: inherit !important;
  }
  .page-source-icon {
    font-size: 2em;
    //text-shadow:
    //  -1px -1px 1px lighten($webstop-blue, 10%),
    //   1px -1px 1px lighten($webstop-blue, 10%),
    //  -1px  1px 1px lighten($webstop-blue, 10%),
    //   1px  1px 1px lighten($webstop-blue, 10%);
  }
}


.wsg-page-header.wsg-home-page-header {

  h1 {
    font-size: 2rem;
    strong {
      display: none;
    }
  }

  img {
    width: 50%;
  }

  @include media-breakpoint-up(md) {

      h1 {
        font-size: 4rem;
        strong {
          display: inline;
        }
      }
    img {
      width: 100%;
      max-width: 556px;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    p {
      font-size: 2rem;
    }
  }
}

.wsg-page-header {
  padding: 2rem ($grid-gutter-width / 2);
  margin-bottom: 1.5rem;
  color: lighten($webstop-blue, 35%);
  text-align: center;
  background-color: $webstop-blue;
  background-image: url("/assets/images/W_on_blue_873x500_300dpi.png");
  background-size: 218.25px 125px; // 873px x 500px
  // 1/2 -> 436.5px  250px
  // 1/4 -> 218.25px 125px
  // 1/8 -> 109px    63px
  background-repeat: no-repeat;
  background-position: right bottom;

  .container {
    position: relative;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
  }

  p {
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 300;
  }

  @include media-breakpoint-up(sm) {
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 55px;
    margin-bottom: 3rem;
    text-align: left;
    //background-size: 256px 256px;

  }

  @include media-breakpoint-up(md) {

    background-size: 436.5px  250px;

    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 1.5rem;
    }
  }

}
