// Typography

// Note: we want to use default fonts in the actual code examples and documentation.

.wsg-content .wsg-content {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, arial, sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
  }
}

.wsg-title,
.wsg-page-header h1 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;

}

//.btn, label, input, .form-text, th, td, .alert, .sans-serif {
//  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, arial, sans-serif;
//  font-size: 16px;
//}


body, .serif {
  font-family: 'Libre Baskerville', Georgia, serif;
}

.sans-serif, .btn, .nav-link {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Montserrat', 'Helvetica Neue', Helvetica, arial, sans-serif;
   font-weight: 700;
   -webkit-font-smoothing: antialiased;
 }

.bd-example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
  }
}


