//---
//# Only the main Sass file needs front matter (the dashes are enough)
//---
// Dev notes
//
// Background information on nomenclature and architecture decisions here.
//
// - Bootstrap variables and mixins are included for easy reuse.
//   Doing so gives us access to the same core utilities provided by Bootstrap.
//   For example, consistent media queries through those mixins.
//
// - Webstop Style Guide **docs variables** are prefixed with `$wsg-`.
//   These custom colors avoid collision with the components Bootstrap provides.
//
// - Classes are prefixed with `.wsg-`.
//   These classes indicate custom-built or modified components for the design
//   and layout of the Webstop Style Guide docs.

@charset 'utf-8';

/* scss/docs/core-style-guide.scss -> assets/css/docs/core-style-guide.css */

// The order the files are loaded is important
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Montserrat:400,700&amp;subset=cyrillic');

$primary: darken(#0194d3, 10%);

@import
  '../../scss/core-styles',
  //'../../node_modules/bootstrap-docs/site/docs/4.1/assets/scss/docs',
  '../../scss/docs/bootstrap-docs',
  // Load docs components
  '../../scss/docs/typography',
  '../../scss/docs/examples',
  '../../scss/docs/navbar',
  '../../scss/docs/sidebar',
  '../../scss/docs/page-header',
  '../../scss/docs/toc',
  '../../scss/docs/devicons'
;
