---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Dev notes
//
// Background information on nomenclature and architecture decisions here.
//
// - Bootstrap variables and mixins are included for easy reuse.
//   Doing so gives us access to the same core utilities provided by Bootstrap.
//   For example, consistent media queries through those mixins.
//
// - Webstop Style Guide **docs variables** are prefixed with `$wsg-`.
//   These custom colors avoid collision with the components Bootstrap provides.
//
// - Classes are prefixed with `.wsg-`.
//   These classes indicate custom-built or modified components for the design
//   and layout of the Webstop Style Guide docs.

@charset 'utf-8';

// Custom values for Docs
$brand-primary: #336699;

// Import partials from `sass_dir` (defaults to `_sass`)
// The order the files are loaded is important
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Montserrat:400,700&amp;subset=cyrillic');
@import
'../../scss/core-styles',
'../../node_modules/devicons/css/devicons.css',
'../../node_modules/bootstrap-docs/assets/scss/docs'
;


// Load docs components
@import "../../scss/docs/page-header",
        "../../scss/docs/toc",
        "../../scss/docs/devicons"
;


// Navbar
.wsg-site-nav.navbar {
  border-bottom: 1px solid lighten($brand-primary, 50%);
  background-color: #fff;

  .navbar-brand {
    color: $brand-primary;
    font-weight: bold;
  }
}

body {
  font-family: Baskerville, 'Libre Baskerville', Georgia, 'Times New Roman', serif;
  font-size: 18px;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 20px;
}


.bd-content {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, arial, sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
  }
}

.bd-title,
.wsg-page-header h1,
.wsg-toc-category-link {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;

}

.btn, label, input, .form-text, th, td, .alert, .sans-serif {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-size: 16px;
}

