@charset "utf-8";

/* circular-item: an individual image item */
.circular-item-standard-promotion {
  text-align: center;

  .circular-item-body {
    padding: 10px;
    padding-bottom: 68px;
  }

  .circular-item-description{
    font-size: 0.75rem; // 12/16=0.75
  }

  .circular-item-title,
  .circular-item-description {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .circular-item-recipe {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
  }

  .circular-item-footer {
    display: block;
    padding: 0 20px;
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    .circular-item-button {
      display: block;
    }
  }

}
