.circular-item {
  max-width: $circular-max-column-width;
  min-width: $circular-min-column-width;
  position: relative;

  &.circular-item-max {
    width: $circular-max-column-width;
  }

  &.circular-item-avg {
    width: $circular-min-column-width + ($circular-max-column-width - $circular-min-column-width)/2;
  }

  &.circular-item-min {
    width: $circular-min-column-width;
  }

  &.circular-item-min {
    width: $circular-min-column-width;
  }

  &.circular-item-paper-coupon {
    border-style: dashed;
    border-color: $primary;
    border-width: 2px;
    //padding-left: 10px;
    //padding-right: 2px;
  }

}

@import 'circular-item-banner';
@import 'circular-item-coupon';
@import 'circular-item-thumbnail';
@import 'circular-item-standard';
@import 'circular-item-standard-promotion';
@import 'circular-navigation';
