@charset "utf-8";

/* circular-item: an individual ad item */
.circular-item-small {
  //max-width: 312px; // image (250) + image padding (15) + image margin (1) + item padding (15)
  max-width: 375px;
  min-width: 265px;
  text-align: center;
  position: relative;
  //background-color: #ddd;
  //padding: 15px;

  .circular-item-body {
    padding: 0 10px 68px 10px;
  }

  .circular-item-heading,
  .circular-item-description,
  .circular-item-details,
  .circular-item-expiration-date,
  .circular-item-sale-dates,
  .circular-item-more-info {
    font-size: 0.625rem; // 10/16=0.625
  }

  .circular-item-non-digital-coupon {
    border-style: dashed;
    border-color: #090;
    border-width: 2px;
    padding-left: 10px;
    padding-right: 2px;
  }

  //.shopping-list-item {
  //  margin-top: 15px;
  //}

  .circular-item-qty,
  .circular-item-qty-text {
    padding-left: 8px;
    padding-right: 8px;
  }

  .circular-item-image {
    //padding: 0;
    //margin-left: auto;
    //margin-right: auto;
    //padding: 15px;
    //width: 100%;
    //max-width: 282px; // image (250) + padding (15) + margin (1)
  }

  .circular-item-info-trigger {
    margin-bottom: 0;
  }


  .circular-item-heading,
  .circular-item-title,
  .price,
  .circular-item-description,
  .circular-item-details,
  .circular-item-expiration-date,
  .circular-item-sale-dates,
  .circular-item-more-info,
  .circular-item-recipe {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .circular-item-recipe {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
  }

  .circular-item-recipes-link {
    float: right;
  }

  .circular-item-qty-group {
    margin-right: -15px;
    width: 80px;
  }

  .shopping-list-item {
    position: absolute;
    bottom: 15px;
    right: 20px;
  }

  //.circular-item-recipe-title-link:after {
  //  content: '… ';
  //}

  //.circular-item-qty-group {
  //  padding-right: 15px;
  //  float: left;
  //  width: 100px;
  //}
  //
  //.circular-item-shopping-list-wrapper {
  //  margin-left: auto;
  //  margin-right: auto;
  //  min-height: 52px;
  //  display: inline-block;
  //}
  //
  //.circular-item-shopping-list-form {
  //  padding-top: 8px;
  //}
  //
  //.circular-item-shopping-list-alert {
  //  margin-bottom: 0;
  //}
  //
  //.circular-item-qty-group .input-group-addon {
  //  padding: 6px 8px;
  //}

  //.circular-item-recipe {
  //  clear: left;
  //}

}
