@charset "utf-8";

/* circular-item: an individual ad item */
.circular-item-thumbnail {

  .circular-item-body {
    padding: 10px;
    padding-left: 15px;
    padding-bottom: 68px;
  }

  .circular-item-heading,
  .circular-item-description,
  .circular-item-details,
  .circular-item-expiration-date,
  .circular-item-sale-dates,
  .circular-item-more-info {
    font-size: 0.75rem; // 12/16 = 0.75
  }

  .circular-item-title {
    font-size: 1.5rem; // 24/16 = 1.5
  }

  .circular-item-non-digital-coupon {
    border-style: dashed;
    border-color: #090;
    border-width: 2px;
    padding-left: 10px;
    padding-right: 2px;
  }

  .circular-item-images {
    padding: 0;
    padding-top: 2px;
    margin: 0;
    min-height: 1px;
  }

  .circular-item-images {
    padding-right: 15px;
    float: left;
    width: 100px;
  }

  .circular-item-image {
    padding: 0;
    margin: 0;
    width: 85px;
    height: 83px;
  }

  .circular-item-info-trigger {
    margin-bottom: 0;
  }

  /* Makes the 2nd column to sit next to the first without wrapping under. */
  .circular-item-text-col {overflow: hidden;}

  .circular-item-heading,
  .circular-item-title,
  .price,
  .circular-item-description,
  .circular-item-details,
  .circular-item-expiration-date,
  .circular-item-sale-dates,
  .circular-item-more-info,
  .circular-item-recipe {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .circular-item-bottom-row {
    clear: both;
  }

  .circular-item-details {
    padding-left: 100px;
  }

  .price {
    .price-prefix {
      min-width: 100px;
      display: inline-block;
    }
  }

  .circular-item-recipe {
    clear: left;
  }

  .shopping-list-item {
    position: absolute;
    bottom: 15px;
    right: 20px;
  }

}
