@charset "utf-8";

/* circular-item: an individual ad item */
.circular-item-standard {
  text-align: center;

  .circular-item-body {
    padding: 10px;
    padding-bottom: 68px;
  }

  .circular-item-heading,
  .circular-item-description,
  .circular-item-details,
  .circular-item-expiration-date,
  .circular-item-sale-dates,
  .circular-item-more-info {
    font-size: 0.75rem; // 12/16=0.75
  }

  &.circular-item-non-digital-coupon {
    border-style: dashed;
    border-color: #090;
    border-width: 2px;
    padding-left: 10px;
    padding-right: 2px;
  }

  .circular-item-qty,
  .circular-item-qty-text {
    padding-left: 8px;
    padding-right: 8px;
  }

  .circular-item-info-trigger {
    margin-bottom: 0;
  }


  .circular-item-heading,
  .circular-item-title,
  .price,
  .circular-item-description,
  .circular-item-details,
  .circular-item-expiration-date,
  .circular-item-sale-dates,
  .circular-item-more-info,
  .circular-item-recipe {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .circular-item-recipe {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
  }

  //.circular-item-recipes-link {
  //  float: right;
  //}

  .circular-item-qty-group {
    margin-right: -15px;
    width: 80px;
  }

  .shopping-list-item {
    position: absolute;
    bottom: 15px;
    right: 20px;
  }

}
