<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Core-Styles CSS -->
    <link rel="stylesheet" href="/dist/css/core-styles-defaults.css">

    <title>Develop {{ page.title }}</title>
    <style>
      .webstop-logo {
        width: 36px;
        height: 36px;
      }
    </style>
    {% include scripts.html %}
  </head>
  <body data-retailer-id="2661" data-environment="development">

  <div class="site site-fluid">
    <div class="site-row row">
      <div class="site-main-col col">
        <header class="site-header" role="banner">
          {% include docs-navbar.html %}
          <h1>Develop {{ page.title }}</h1>
          <p class="lead">{{ page.description }}</p>
        </header>
        <main class="site-content" role="main">
          {{ content }}
        </main>
        <footer class="site-footer" role="contentinfo">
          Site Footer...
        </footer>
        <div class="site-debug" aria-hidden="true">
          Site Debug Code...
        </div>
      </div>
      <aside class="site-aside col-auto" id="site-aside">
        <div class="site-aside-slider" id="site-aside-slider">
          {% include examples/shopping-lists/_shopping-list-power-bar-example.html %}
        </div>
      </aside>
    </div>

    <div class="modal fade" id="site-modal" tabindex="-1" role="dialog" aria-labelledby="site-modal-title" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="site-modal-title"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body" id="site-modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <button class="site-debug-toggle" aria-hidden="true">+</button>
  </div>

  <script src="/dist/js/core-styles/config.js"></script>
  <script src="/dist/js/ahoy/ahoy.js" defer></script>
  <script type="module" src="/dist/js/core-styles/aye.js"></script>

  </body>
</html>
