// this file helps with our legacy lasso pages.

.site {

  .site-header {}
  .site-navigation {}
  .site-content {}
  .site-footer {}
  .site-debug {
    display: none;
  }

  // Sub-Classes
  &.site-fluid {
    .site-header,
    .site-navigation,
    .site-content,
    .site-footer,
    .site-debug {
      @extend .container-fluid;
    }
  }
  &.site-fixed {
    margin-left: auto;
    margin-right: auto;
    .site-header,
    .site-navigation,
    .site-content,
    .site-footer,
    .site-debug {
      @extend .container;
    }
  }
  &.site-content-only {
     .site-header,
     .site-navigation,
     .site-footer {
       display: none;
     }
  }
  &.site-debug-on {
    .site-debug {
      display: block;
    }
  }
}

