<form class="search-form" action="/develop/components/search_results" method="post" data-search="live" data-target="#search-results">
  <div class="toolbar-group input-group">
    <input class="search-from-search-text form-control" type="text" name="search-text" placeholder="Search" aria-label="Enter text to search for.">
    <div class="input-group-append">
      <button class="search-from-submit btn btn-primary" type="submit" aria-label="Submit Search">
        <i class="icon-search"></i>
      </button>
    </div>
  </div>
</form>
