<form class="search-form" action="http://localhost:4567/search_results" method="post" data-search="live" data-target="#search-results">
  <div class="toolbar-group input-group d-none d-sm-inline">
    <input class="search-from-search-text form-control" type="text" name="search" placeholder="Search" aria-label="Enter text to search for.">
    <div class="input-group-append">
      <button class="search-from-submit btn btn-primary" type="submit" aria-label="Submit Search">
        <i class="icon-search"></i>
      </button>
    </div>
  </div>
</form>
