// Dev notes
//
// Background information on nomenclature and architecture decisions here.
//
// - Bootstrap variables and mixins are included for easy reuse.
//   Doing so gives us access to the same core utilities provided by Bootstrap.
//   For example, consistent media queries through those mixins.
//
// - Webstop Style Guide **docs variables** are prefixed with `$wsg-`.
//   These custom colors avoid collision with the components Bootstrap provides.
//
// - Classes are prefixed with `.wsg-`.
//   These classes indicate custom-built or modified components for the design
//   and layout of the Webstop Style Guide docs.
//
// Happy Styling!


// Local docs variables
$wsg-blue:         #336699;
$wsg-blue-bright:  lighten(saturate($wsg-blue, 5%), 15%);
$wsg-blue-light:   #99ccff;

// Load docs components
@import "page-header";

