// Dev notes
//
// Background information on nomenclature and architecture decisions here.
//
// - Bootstrap variables and mixins are included for easy reuse.
//   Doing so gives us access to the same core utilities provided by Bootstrap.
//   For example, consistent media queries through those mixins.
//
// - Webstop Style Guide **docs variables** are prefixed with `$wsg-`.
//   These custom colors avoid collision with the components Bootstrap provides.
//
// - Classes are prefixed with `.wsg-`.
//   These classes indicate custom-built or modified components for the design
//   and layout of the Webstop Style Guide docs.
//
// Happy Styling!


// Load docs components
@import "page-header";


// Navbar
.wsg-site-nav.navbar {
  border-bottom: 1px solid lighten($brand-primary, 50%);
  background-color: #fff;

  .navbar-brand {
    color: $brand-primary;
    font-weight: bold;
  }
}
